/*---------- Thomas Roos ----------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  display: flex;
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: grey;
  padding: 10px;
  display: flex;
  height: calc(100% - 20px);
} 

div.App {
  background-color: grey;
  border: red 1px solid;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  background-color: rgb(45, 45, 116);
  color: white;
  display: flex;
  justify-content: center;
  height: 4em;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
}

#search_bar {
  height: 40px;
  width: 70%;
  border-radius: 5px;
  text-indent: 10px;
}

#page_header {
  margin: 0px;
  margin-right: 20px;
}

section#body {
  height: 100%;
  background-color: rgb(180, 182, 72);
  border-radius: 10px;
  border: rgb(16, 16, 66) 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

section#main_column {
  background-color: rgb(163, 226, 245);
  padding: 20px;
  width: 40em;
  border: 1px white solid;
  height: calc(100% - 20px);
  padding-bottom: 0px;
}

section#drop_down {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border: red 1px solid;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.drop_selects label {
  font-size: 20px;
  font-weight: bold;
}

#cat, #tops {
  margin-left: 10px;
  width: 30em;
}

.drop_selects {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

section#post_section {
  padding: 20px;
  background-color: rgb(65, 65, 110);
  height: 80%;
  overflow: auto;
}

.post-row {
  background-color: rgb(226, 247, 255);
  border: rgb(8, 156, 161) 1px solid;
  padding: 10px;
}

section#bottom_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#like {
  width: 25px;
  height: 25px;
}

#unlike {
  width: 30px;
  height: 30px;
}

.likes {
  width: 150px;
}

.delete_btn {
  width: 20px;
  height: 20px;
}

.line {
  padding: 5px;
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
}

.text {
  border: 1px solid black;
  padding: 5px;
}

section#start_column {
  background-color: rgb(253, 253, 143);
  display: flex;
  flex-direction: row;
  align-items: top;
  padding: 20px;
  border: 1px white solid;
  height: calc(100% - 40px);

}

#admin_panel {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 14em;
}

#buttons {
  width: calc(100% - 20px);
  align-items: center;
}

#buttons button {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 2em;
  background-color: rgb(90, 90, 90);
  border: 1px solid black;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  width: 100%;
}

#title {
  border: 1px white solid;
  width: calc(100% - 20px);
  font-weight: bold;
}

#admin_panel div {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#admin_panel div {
  color: white;
  padding: 5px;
  margin: 5px;
}

footer {
  background-color: rgb(45, 45, 116);
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 4em;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  height: 10%;
}

div#copyright {
  margin-left: 80px;
  margin-right: 20px;
}

footer div {
  font-size: 15px;
}

footer h1 {
  margin-right: 80px;
  margin-left: 20px;
  font-size: 20px;
}

/* Table End - Component */

section#end_column {
  background-color: rgb(253, 253, 143);
  border: 1px white solid;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

#end_column th {
  border: 1px solid rgb(77, 60, 224);
  background-color: rgb(15, 15, 146);
  color: white;
}

table tr:nth-child(odd) td{
  background-color: rgb(50, 185, 167);
}
table tr:nth-child(even) td{
  background-color: rgb(163, 252, 163);
}

#end_column td {
  border: 1px solid rgb(77, 60, 224);
}

#tableComponent1 {
  background-color: rgb(25, 83, 25);
  width: 350px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#tableComponent1 h2 {
  color: white;
  border: 1px solid white;
  margin: 0px;
}

#tableComponent1 table {
  width: 100%;
}

#tableComponent2 {
  background-color: rgb(196, 54, 66);
  width: 350px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#tableComponent2 h2 {
  color: white;
  border: 1px solid white;
  margin: 0px;
}

#tableComponent2 table {
  width: 100%;
}

#tableComponent3 {
  background-color: rgb(139, 54, 196);
  width: 350px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  text-align: center;
}

#tableComponent3 h2 {
  color: white;
  border: 1px solid white;
  margin: 0px;
}

#tableComponent3 table {
  width: 100%;
}